* {
  color: white;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url(https://static.pexels.com/photos/48182/startrails-monument-valley-night-arizona-48182.jpeg);
  background-attachment: fixed;
  background-size: cover;
}

.title {
  margin-top: 80px;
  font-size: 180px;
  font-weight: 100;
  font-family: 'League Script', cursive;
  color: #00acc1;
  text-shadow: 0 0 20px #00acc1, 0 0 20px #00acc1, 0 0 20px #00acc1, 0 0 20px #00acc1;
}

h1 {
  font-weight: 100;
  margin-bottom: 0;
  cursor: pointer;
}

.box {
  margin: 50px 0;
  padding-top: 10px;
  padding-bottom: 20px;
}

.thin {
  font-weight: 100;
}

.box:hover {
  background-color: rgba(0, 172, 193, 0.2);
}

.form-group {
  width: 100%;
}

.form-inline .form-control {
  width: 100%;
  vertical-align: middle;
}

.form-inline input {
  margin-top: 75px;
  padding: 50px;
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 70px;
  border-bottom: 2px solid #00ACC1;
  border-radius: 0;
  color: white;
  font-weight: 100;
  margin-bottom: 50px;
}

.btn-primary {
  padding: 20px 60px;
  border-radius: 0;
  font-size: 30px;
  font-weight: 100;
  background-color: transparent;
  border: 2px solid #00ACC1;
  color: #00acc1;
}

.btn-primary:hover {
  background-color: #00ACC1;
  color: white;
}

input.middle:focus {
  outline-width: 0;
}
